input {
    @apply shadow p-1 text-black;
    width: 100%;
  }
  .login {
    @apply font-bold;
    font-size: 28px;
    margin: 18px 0;
    margin-bottom: 22px;
  }
  .container {
    height: 100%;
    display: grid;
    place-items: center;
  }
  .form {
    @apply border border-green-500 shadow-lg mx-auto;
    width: 326px;
    min-height: 395px;
    padding: 28px 36px;
  }
  .form input{
    /* color: #000; */
  }
  .form-group {
    @apply block text-left mx-auto mb-3;
    font-size: 16px;
    max-width: 255px;
  }
  .form-group label {
    @apply block mb-2 font-semibold;
  }
  .submit,
  .cancel {
    @apply bg-green-300 p-2 text-inverse block;
    width: 255px;
    cursor: pointer;
    border-radius: 4px;
  }
  .submit:hover,.cancel:hover {
    @apply shadow bg-green-300;
  }
  .submit:focus,.cancel:focus {
    @apply shadow bg-green-200;
  }
  
  .cancel {
    @apply mt-2 text-center;
  }