<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title My Site custom
    link(rel='stylesheet', href='/assets/css/materialize.css')
    link(rel='stylesheet', href='/assets/css/style.css')
      
  body
    nav#nav.navbar.red.darken-4(role='navigation')
      a#logo-container.brand-logo.middle-link(href='../') Todo App
    

    
    .container
      .row
        block content


    script(src='/assets/js/jquery-3.4.1.min.js')
    script(src='/assets/js/materialize.min.js')
    script(src='/assets/js/script.js')
    