<!DOCTYPE html>
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title My Site custom
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
      
  body
    nav.navbar.navbar-dark.bg-info.text-white.mb-3
      a.navbar-brand(href='/list/') Todo App
    

    
    .container
      .wrap
        block content


    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src='/javascripts/script.js')
    